################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pdb
*.tlog
*.log
*.exe
*.obj
*.lastbuildstate
*.ilk
*.idb
*.ipch
*.opendb
*.db
*.suo
*.sqlite
*.json

# Ignore temporary folders
.vs/
