################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/Debug/vc141.pdb
/source/Release/Galaxy-master.tlog/CL.write.1.tlog
/source/Release/Galaxy-master.tlog/CL.read.1.tlog
/source/Release/Galaxy-master.tlog/CL.command.1.tlog
/source/Release/Galaxy-master.pdb
/source/Release/Galaxy-master.log
/source/Release/Galaxy-master.exe
/source/Release/evaluate.obj
/source/Release/endgame.obj
/source/Release/book.obj
/source/Release/bitboard.obj
/source/Release/bitbase.obj
/source/Release/benchmark.obj
/source/Release/psqt.obj
/source/Release/position.obj
/source/Release/pawns.obj
/source/Release/movepick.obj
/source/Release/movegen.obj
/source/Release/misc.obj
/source/Release/material.obj
/source/Release/main.obj
/source/Release/Galaxy-master.tlog/link.write.1.tlog
/source/Release/Galaxy-master.tlog/link.read.1.tlog
/source/Release/Galaxy-master.tlog/link.command.1.tlog
/source/Release/Galaxy-master.tlog/Galaxy-master.lastbuildstate
/source/Release/vc141.pdb
/source/Release/ucioption.obj
/source/Release/uci.obj
/source/Release/tzbook.obj
/source/Release/tt.obj
/source/Release/timeman.obj
/source/Release/thread.obj
/source/Release/tbprobe.obj
/source/Release/search.obj
/source/x64/Release/ucioption.obj
/source/x64/Release/uci.obj
/source/x64/Release/tzbook.obj
/source/x64/Release/tt.obj
/source/x64/Release/timeman.obj
/source/x64/Release/thread.obj
/source/x64/Release/tbprobe.obj
/source/x64/Release/search.obj
/source/x64/Release/psqt.obj
/source/x64/Release/position.obj
/source/x64/Release/pawns.obj
/source/x64/Release/movepick.obj
/source/x64/Release/movegen.obj
/source/x64/Release/misc.obj
/source/x64/Release/material.obj
/source/x64/Release/main.obj
/source/x64/Release/Galaxy-master.tlog/link.write.1.tlog
/source/x64/Release/Galaxy-master.tlog/link.read.1.tlog
/source/x64/Release/Galaxy-master.tlog/link.command.1.tlog
/source/x64/Release/Galaxy-master.tlog/Galaxy-master.lastbuildstate
/source/x64/Release/Galaxy-master.tlog/CL.write.1.tlog
/source/x64/Release/Galaxy-master.tlog/CL.read.1.tlog
/source/x64/Release/Galaxy-master.tlog/CL.command.1.tlog
/source/x64/Release/Galaxy-master.pdb
/source/x64/Release/Galaxy-master.log
/source/x64/Release/Galaxy-master.ilk
/source/x64/Release/Galaxy-master.exe
/source/x64/Release/evaluate.obj
/source/x64/Release/endgame.obj
/source/x64/Release/book.obj
/source/x64/Release/bitboard.obj
/source/x64/Release/bitbase.obj
/source/x64/Release/benchmark.obj
/source/x64/Debug/vc141.pdb
/source/x64/Debug/vc141.idb
/source/x64/Debug/ucioption.obj
/source/x64/Debug/uci.obj
/source/x64/Debug/tzbook.obj
/source/x64/Debug/tt.obj
/source/x64/Debug/timeman.obj
/source/x64/Debug/thread.obj
/source/x64/Debug/tbprobe.obj
/source/x64/Debug/search.obj
/source/x64/Debug/psqt.obj
/source/x64/Debug/position.obj
/source/x64/Debug/pawns.obj
/source/x64/Debug/movepick.obj
/source/x64/Debug/movegen.obj
/source/x64/Debug/misc.obj
/source/x64/Debug/material.obj
/source/x64/Debug/main.obj
/source/x64/Debug/Galaxy-master.tlog/link.write.1.tlog
/source/x64/Debug/Galaxy-master.tlog/link.read.1.tlog
/source/x64/Debug/Galaxy-master.tlog/link.command.1.tlog
/source/x64/Debug/Galaxy-master.tlog/Galaxy-master.lastbuildstate
/source/x64/Debug/Galaxy-master.tlog/CL.write.1.tlog
/source/x64/Debug/Galaxy-master.tlog/CL.read.1.tlog
/source/x64/Debug/Galaxy-master.tlog/CL.command.1.tlog
/source/x64/Debug/Galaxy-master.pdb
/source/x64/Debug/Galaxy-master.log
/source/x64/Debug/Galaxy-master.ilk
/source/x64/Debug/Galaxy-master.exe
/source/x64/Debug/evaluate.obj
/source/x64/Debug/endgame.obj
/source/x64/Debug/book.obj
/source/x64/Debug/bitboard.obj
/source/x64/Debug/bitbase.obj
/source/x64/Debug/benchmark.obj
/source/x64/Release/vc141.pdb
/source/Debug/vc141.idb
/source/Debug/ucioption.obj
/source/Debug/uci.obj
/source/Debug/tzbook.obj
/source/Debug/tt.obj
/source/Debug/timeman.obj
/source/Debug/thread.obj
/source/Debug/tbprobe.obj
/source/Debug/search.obj
/source/Debug/psqt.obj
/source/Debug/position.obj
/source/Debug/pawns.obj
/source/Debug/movepick.obj
/source/Debug/movegen.obj
/source/Debug/misc.obj
/source/Debug/material.obj
/source/Debug/main.obj
/source/Debug/Galaxy-master.tlog/link.write.1.tlog
/source/Debug/Galaxy-master.tlog/link.read.1.tlog
/source/Debug/Galaxy-master.tlog/link.command.1.tlog
/source/Debug/Galaxy-master.tlog/Galaxy-master.lastbuildstate
/source/Debug/Galaxy-master.tlog/CL.write.1.tlog
/source/Debug/Galaxy-master.tlog/CL.read.1.tlog
/source/Debug/Galaxy-master.tlog/CL.command.1.tlog
/source/Debug/Galaxy-master.pdb
/source/Debug/Galaxy-master.log
/source/Debug/Galaxy-master.ilk
/source/Debug/Galaxy-master.exe
/source/Debug/evaluate.obj
/source/Debug/endgame.obj
/source/Debug/book.obj
/source/Debug/bitboard.obj
/source/Debug/bitbase.obj
/source/Debug/benchmark.obj
/source/.vs/Galaxy-master/v15/ipch/AutoPCH/GALAXY-MASTER-3e091aa0/TT-5ff0e4a0/TT.ipch
/source/.vs/Galaxy-master/v15/ipch/AutoPCH/GALAXY-MASTER-3e091aa0/MAIN-330cbd1d/MAIN.ipch
/source/.vs/Galaxy-master/v15/Browse.VC.opendb
/source/.vs/Galaxy-master/v15/Browse.VC.db
/source/.vs/Galaxy-master/v15/.suo
source/x64/Release/Sugar.ilk
source/Release/Sugar.tlog/Sugar.lastbuildstate
source/x64/Release/Sugar.tlog/CL.command.1.tlog
source/.vs/Sugar/v15/Browse.VC.db
source/.vs/Sugar/v15/Browse.VC.opendb
source/Debug/Sugar.exe
source/Debug/Sugar.ilk
source/Debug/Sugar.log
source/Debug/Sugar.pdb
source/Debug/Sugar.tlog/CL.command.1.tlog
source/Debug/Sugar.tlog/CL.write.1.tlog
source/Release/Sugar.tlog/link.command.1.tlog
source/Debug/Sugar.tlog/link.read.1.tlog
source/Debug/Sugar.tlog/link.command.1.tlog
source/Debug/Sugar.tlog/link.write.1.tlog
source/Debug/Sugar.tlog/Sugar.lastbuildstate
source/Release/Sugar.exe
source/Release/Sugar.log
source/Release/Sugar.pdb
source/Release/Sugar.tlog/CL.command.1.tlog
source/Release/Sugar.tlog/CL.read.1.tlog
source/Release/Sugar.tlog/CL.write.1.tlog
source/Release/Sugar.tlog/link.read.1.tlog
source/Release/Sugar.tlog/link.write.1.tlog
source/x64/Debug/Sugar.exe
source/x64/Debug/Sugar.ilk
source/x64/Debug/Sugar.log
source/x64/Debug/Sugar.pdb
source/x64/Debug/Sugar.tlog/CL.command.1.tlog
source/x64/Debug/Sugar.tlog/CL.write.1.tlog
source/x64/Debug/Sugar.tlog/link.command.1.tlog
source/x64/Debug/Sugar.tlog/link.read.1.tlog
source/x64/Debug/Sugar.tlog/link.write.1.tlog
source/x64/Debug/Sugar.tlog/Sugar.lastbuildstate
source/x64/Release/Sugar.exe
source/x64/Release/Sugar.log
source/x64/Release/Sugar.pdb
source/x64/Release/Sugar.tlog/CL.read.1.tlog
source/x64/Release/Sugar.tlog/CL.write.1.tlog
source/x64/Release/Sugar.tlog/link.command.1.tlog
source/x64/Release/Sugar.tlog/link.read.1.tlog
source/x64/Release/Sugar.tlog/link.write.1.tlog
source/x64/Release/Sugar.tlog/Sugar.lastbuildstate
